## C++ :
*.kile
sources/
*.kilepr
Makefile
.idea/
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.gz
*.fdb_latexmk
*.tex~
*.blg
## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## reveal.js

.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
